{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Story 3">
	<meta name="author" content="Mutia Rahmatun Husna">

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/web.css' %}">

	<title>
		Find Me Here!!
	</title>

</head>

<body>
	<ul>
	  <li><a href="{% url 'home' %}">Home</a></li>
	  <li><a href="{% url 'schedule' %}">Schedule</a></li>
	</ul>
	<div id = "schedule" class="container">
		<h1> My Activity </h1>
		<form method="POST" class="post-form" action="{% url 'addActivity' %}">
			{% csrf_token %}
			{{ form }}
			<button type="submit" class="save btn btn-default">Add</button>
			<br>
		</form>
		<form method="POST" action="{% url 'delete' %}">
			{% csrf_token %}
			<button class="save btn btn-default">Delete</button>
			<br>
		</form>
	</div>
	
	<table class="table table-hover table-bordered table-striped table-red" align="center" style="text-align: center">
	    <thead>
	        <tr>
	            <th scope="col">Activities</th>
	            <th scope="col">Place</th>
	            <th scope="col">Category</th>
	            <th scope="col">Date, Time</th>
	        </tr>
	    </thead>
	    {% for kegiatan in events %}
	        <tr>
	            <td scope="row">{{ kegiatan.nama_kegiatan }}</td> <br>
	            <td scope="row">{{ kegiatan.tempat }}</td> <br>
	            <td scope="row">
	                    {{ kegiatan.kategori }}
	            </td>
	            <td scope="row">
	                {{ kegiatan.hari }}, {{ kegiatan.waktu }}
	            </td>
	        </tr>
	    {% endfor %}
	</table>
</body>
</html>