{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Story 3">
	<meta name="author" content="Mutia Rahmatun Husna">

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/web.css' %}">
	
    

	<title>
		Find Me Here!!
	</title>

</head>

<body>
	<ul>
	  <li><a href="{% url 'home' %}">Home</a></li>
	  <li><a href="{% url 'schedule' %}">Schedule</a></li>
	</ul>

	<h1>Hello!!</h1>

	<img src="{% static 'media/mutia.JPG' %}" alt="Trulli" class="center" width="300" height="300">


</body>

<body>
	
<p>Nama : Mutia Rahmatun Husna </p>
<p>Birth Place : Medan </p>
<p>Date of Birth : 19 July 2000</p>
<p>Hobby : Reading a book</p>

</body>
</html>
